@charset "UTF-8";

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
/* 메인 */
.nav {

    top: 10.00%;
    left: 5.00%;
    height: 140px;
}

.main-title {
    float: left;
    display: inline-block;
    margin-top: 40px;
    margin-right: 200px;
    height: 170px;
    font-size: 70px;

}

.myday-title-div {
    
    position: relative;
    display: inline-block;
    top: 10.00%;
    left: 5.00%;
    height: 140px;
    margin: 10px;
}
.nav-category {
    display: inline-block;

}
.nav-intro {
    float: left;
    position: relative;
    display: inline-block;
    margin-top:60px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-right: 180px;
}

#main-menu {
    margin: 0;
    padding: 0;
}


.nav-category-name > img {
    position:absolute;
    top: 10px;
    padding-bottom: 10px;
}

#nav-botton-img {
    width: 20px;
}

.main-section {
    background-color: #3545F0;
    margin-top:50px;
    height: 500px;
}